#groups_popup.popup{:style => "display: none"}
  #groups_busy.busy{:style => "display: none"}= image('spinner.gif', :alt => "")
  .popup_title
    = t('reader_extension.access_control')
  %p
    = t('reader_extension.page_access_explanation')
  %form.group_selection
    = render :partial => 'admin/groups/chooser', :object => @page
    .buttons
      = submit_tag t('reader_extension.set_access'), :class=>'button', :id=>'add_page_field_button'
      = t('or')
      = link_to_function t('cancel'), "$(this).closePopup()", :class=>"cancel"
