- groups = Group.find(:all)
- if groups.any?
  .set
    %p
      = t('reader_extension.permitted_groups')
      - groups.each do |group|
        = check_box_tag "page[group_ids][]", group.id, @page.has_inherited_group?(group), :id => "page_group_#{group.id}", :disabled => @page.group_is_inherited?(group)
        - if @page.group_is_inherited?(group)
          %label.checkbox{:for => "page_group_#{group.id}", :class => 'disabled', :title => t('reader_extension.inherited_group')}
            = group.name
        - else
          %label.checkbox{:for => "page_group_#{group.id}"}
            = group.name
