- content_for :title do
  = t('reader_extension.reset_message_sent')

- content_for :instructions do
  %p
    = t('reader_extension.reset_message_instructions')

  - content_for :breadcrumbs do
    = link_to t('reader_extension.home').titlecase, '/'
    &gt; 
    = t('reader_extension.reset_password')
  
= render :partial => 'shared/standard_reader_parts'

= yield :instructions