.mainform
  - if @reader

    %p
      %strong
        = t('hello')
        = @reader.name + '.'
      = t('new_password_instructions')

    - form_for @reader, :url => password_reset_path, :method => :put, :html => {:class => 'friendly', :autocomplete => "off"} do |f|

      - if @reader.errors.any?
        %p.errornote
          %strong 
            = t('sorry').titlecase
            = t('form_problem') + '.'

      = hidden_field_tag :id, params[:id]
      = hidden_field_tag :confirmation_code, @reader.perishable_token

      %p
        = f.label :password, t('new_password'), :class => 'required'
        %span.formnote= t('password_notes')
        %br
        = f.password_field :password, :class => 'titular'

      %p
        = f.label :password_confirmation, t('repeat_password'), :class => 'required'
        %br
        = f.password_field :password_confirmation, :class => 'titular'
      %p
        = f.submit "Update my password and log me in"
        
      %p
        = t('password_not_yet_changed')

      - content_for :title do
        = t('change_password')

  - else 

    %p.errornote
      = t('sorry_reset_not_found')
      
    - form_tag edit_password_reset_path, :method => 'GET', :class => 'friendly', :autocomplete => "off" do
      = hidden_field_tag :id, params[:id]
      %p
        %label{:for => "confirmation_code"}
          = t('confirmation_code')
        %br
        = text_field_tag 'confirmation_code', '', :class => 'titular'

      %p
        = submit_tag t('continue')
    
    %ul.actions
      %li
        = link_to t("restart_password_change"), new_password_reset_url
      
    - content_for :title do
      = t('enter_code')
      
- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/'
  &gt; 
  = t('reset_password')

