- content_for :breadcrumbs do
  = link_to t('reader_extension.home').titlecase, '/'
  &gt; 
  = t('reader_extension.reset_password').titlecase

- content_for :title do
  = t('reader_extension.reset_password').titlecase

- content_for :form do
  %p
    =t('reader_extension.password_reset_instructions')
    %strong
      =t('reader_extension.password_reset_reassurance')

  - if @error
    %p.haserror
      = t(@error)

  .password_form
    - email = current_reader.email if current_reader
    - form_tag password_reset_path, :class => 'friendly' do
      %p
        %label{:for => "email"}
          = t('reader_extension.your_email')
        %br
        = text_field_tag 'email', email, :class => 'titular'

      %p
        = submit_tag t('reader_extension.send_reset_button')
  
= render :partial => 'shared/standard_reader_parts'

= yield :form