- include_stylesheet 'reader'

%p
  =t('password_reset_instructions')
  %strong
    =t('password_reset_reassurance')
  
- if @error
  %p.haserror
    = t(@error)

.password_form
  - email = current_reader.email if current_reader
  - form_tag password_reset_path, :class => 'friendly' do
    %p
      %label{:for => "email"}
        = t('your_email')
      %br
      = text_field_tag 'email', email, :class => 'titular'

    %p
      = submit_tag t('send_reset_button')

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/'
  &gt; 
  = t('reset_password').titlecase

- content_for :title do
  = t('reset_password').titlecase
