- page ||= @page
- group ||= @group


- if page.has_inherited_group?(group)
  %span{:class => "fake_checkbox inherited"}
  = page.title

- else
  - cssclass = "fake_checkbox"
  - cssclass << ' checked' if page.has_group?(group)
  = link_to page.title, admin_toggle_group_permission_url(:group_id => group.id, :page_id => page.id),  {:class => cssclass, :id => "toggle_page_#{page.id}"}

- if page.children.any?
  %ul
    - page.children.each do |child|
      %li{:id => "page_holder_#{child.id}"}
        = render :partial => 'admin/permissions/page', :object => child
