- content_for :login do
  - if @message
    %p
      = @message
  - else
    %p
      = t('reader_extension.log_in_or_register')
  
  = render :partial => 'login_form', :locals => {:no_title => true}

- content_for :breadcrumbs do
  = link_to t('reader_extension.home').titlecase, '/' 
  &gt; 
  = t('reader_extension.log_in').titlecase

- content_for :title do
  = t('reader_extension.please_log_in')

= render :partial => 'shared/standard_reader_parts'

= yield :login
