= render :partial => 'readers/flasher'
= render :partial => 'readers/controls'

- if logged_in?
  %p
    You are currently logged in as
    %strong
      = current_user.name 
    %br
    If that's not you, or you want to log in with another account, please 
    = link_to "log out", destroy_reader_session_url(@reader_session)

- else
  
  = render :partial => 'login_form'

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'Readers', '/readers'
  &gt; Log in

- content_for :title do
  Log in
