= render :partial => 'readers/flasher'

- if logged_in?
  %p
    You are currently logged in as
    %strong
      = current_user.name 
    %br
    If that's not you, or you want to log in with another account, please 
    = link_to "log out", reader_session_url(@reader_session, :method => 'delete')

- else
  = render :partial => 'login_form'

- content_for :breadcrumbs do
  = link_to 'Readers', '/readers'
  &gt; Log in

- content_for :pagetitle do
  Log in
