= render :partial => 'readers/standard_parts'

- content_for :login do
  - if @message
    %p
      = @message
  - else
    %p
      = t('log_in_or_register')
  
  = render :partial => 'login_form', :locals => {:no_title => true}

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/' 
  &gt; 
  = t('log_in').titlecase

- content_for :title do
  = t('please_log_in').titlecase



= yield :login