= render :partial => 'readers/flasher'

- if current_reader
  %p
    You are currently logged in as
    %strong
      = current_reader.name 
    %br
    If that's not you, or you want to log in with another account, please 
    = link_to "log out", reader_logout_url

- else
  - if flash[:explanation]
    %p
      = flash[:explanation]
      
  = render :partial => 'login_form', :locals => {:no_title => true}

- content_for :breadcrumbs do
  = link_to 'Readers', '/readers'
  &gt; Log in

- content_for :pagetitle do
  Log in
