%div#reader_links
  - if current_reader
    - if current_reader.activated?
      %p
        You're logged in as 
        %strong
          = current_reader.name
        %br
        = link_to 'your page', reader_url(current_reader)
        |
        = link_to 'preferences', edit_reader_url(current_reader)
        |
        - if current_reader.is_user?
          = link_to 'admin', admin_pages_url
          |
        = link_to 'log out', reader_logout_url
    -else
      %p 
        please check your email for an
        = link_to 'activation', activate_reader_url(current_reader)
        message
  - else
    %p
      To take part, please 
      = link_to 'log in', reader_login_url
      or
      = link_to 'register', new_reader_url
