- if !current_reader
  = link_to t('navigation.log_in'), reader_login_url
  = link_to t('navigation.register'), new_reader_url
- else
  = link_to t('navigation.greeting', :name => current_reader.name), reader_profile_url
  - if !current_reader.activated?
    = link_to t('navigation.activate'), reader_activation_url
  - else
    = link_to t('navigation.account'), reader_account_url
    - if current_reader.is_user?
      = link_to t('navigation.admin'), admin_pages_url
    = link_to t('navigation.log_out'), reader_logout_url


