%p{ :class => thing.errors.on(tag[:symbol]) ? 'with_errors' : '' }
  %label{ :for => tag[:fieldid], :class => tag[:required] ? 'required' : '' }
    = tag[:label]
    %span.formnote
      = tag[:help]
  %br
  - if tag[:type] == 'text'
    = form.text_field tag[:name], :class => tag[:class]
  - elsif tag[:type] == 'password'
    = form.password_field tag[:name], :class => tag[:class]
  - elsif tag[:type] == 'text_area'
    = form.text_area tag[:name], :class => tag[:class], :rows => (tag[:rows] || 8)
  - if thing.errors.on(tag[:symbol])
    %br
    = thing.errors.on(tag[:symbol]).to_a.to_sentence