- if Radiant::Config['reader.use_honorifics?']
  = text_field_with_errors(f, @reader, 'honorific', {:label => 'Title or rank', :help => 'as you would like us to display it', :required => false, :class => 'standard'})

= text_field_with_errors(f, @reader, 'name', {:label => 'Your name', :help => 'as you would like it to appear', :required => true, :class => 'titular'})

- if @reader.new_record?
  %p{ :class => @reader.errors.on(:email) ? 'with_errors' : '' }
    %label{ :for => "reader_#{@email_field}", :class => 'required' }
      Your email address
    %br
    = text_field_tag @email_field, params[@email_field.intern], :id => "reader_#{@email_field}", :class => 'standard'
    - if @reader.errors.on(:email)
      %br
      = @reader.errors.on(:email).to_a.to_sentence
- else
  = text_field_with_errors(f, @reader, 'email', {:label => 'Your email address', :required => true})

= text_area_with_errors(f, @reader, 'description', {:label => 'A little about yourself', :help => 'you can fill this in later', :required => true})
= text_field_with_errors(f, @reader, 'login', {:label => 'Login username', :help => 'leave blank to use your email address', :required => true})

%p{ :class => @reader.errors.on(:password) ? 'with_errors' : '' }
  %label{ :for => 'reader_password', :class => 'required'}
    - if @reader.new_record?
      Password
    - else
      Change password?
    %span.formnote
      - if @reader.new_record?
        at least five characters, please
      - else
        leave blank to keep existing password
  %br
  = password_field_tag 'password', params[:password], :class => 'standard'
  - if @reader.errors.on(:password)
    %br
    = @reader.errors.on(:password).to_a.to_sentence

%p{ :class => @reader.errors.on(:password_confirmation) ? 'with_errors' : '' }
  %label{ :for => 'reader_password_confirmation', :class => 'required'}
    Confirm 
    = "new" unless @reader.new_record?
    password
  %br
  = password_field_tag 'password_confirmation', params[:password_confirmation], :class => 'standard'
  - if @reader.errors.on(:password_confirmation)
    %br
    = @reader.errors.on(:password_confirmation).to_a.to_sentence

- if @reader.new_record?
  %p{ :class => @reader.errors.on(:trap) ? 'with_errors' : 'hidden' }
    %label{ :for => 'reader_email', :class => 'required' }
      Don't fill this in!
      %span.formnote
        it's a spam trap and you weren't supposed to see it
      %br
    = f.text_field 'email', :class => 'required'
    - if @reader.errors.on(:trap)
      %br
      = @reader.errors.on(:trap).to_a.to_sentence
