= text_field_with_errors(f, @reader, 'name', {:label => 'Your name', :help => 'as you would like it to appear', :required => true, :class => 'titular'})

- if @reader.new_record?
  %p{ :class => @reader.errors.on(:email) ? 'with_errors' : '' }
    %label{ :for => "reader_#{@email_field}", :class => 'required' }
      Your email address
    %br
    = text_field_tag @email_field, params[@email_field.intern], :id => "reader_#{@email_field}", :class => 'standard'
    - if @reader.errors.on(:email)
      %br
      = @reader.errors.on(:email).to_a.to_sentence
- else
  = text_field_with_errors(f, @reader, 'email', {:label => 'Your email address', :required => true})

= text_area_with_errors(f, @reader, 'description', {:label => 'A little about yourself', :help => 'you can fill this in later', :required => true})
= text_field_with_errors(f, @reader, 'login', {:label => 'Login username', :help => 'leave this blank to use your email address', :required => true})
= password_field_with_errors(f, @reader, 'password', {:label => 'Password', :help => @reader.new_record? ? 'at least five characters, please' : 'leave these blank unless you want to change your password', :required => true})
= password_field_with_errors(f, @reader, 'password_confirmation', {:label => 'Confirm password', :required => true})

- if @reader.new_record?
  %p{ :class => @reader.errors.on(:trap) ? 'with_errors' : 'hidden' }
    %label{ :for => 'reader_email', :class => 'required' }
      Don't fill this in!
      %span.formnote
        it's a spam trap and you weren't supposed to see it
      %br
    = f.text_field 'email', :class => 'required'
    - if @reader.errors.on(:trap)
      %br
      = @reader.errors.on(:trap).to_a.to_sentence
