%tr.reader
  - if reader.unshareable?
    %td{:colspan => 7}
      = t("reader_extension.listing_denied")
  - else
    %td.gravatar
      = link_to gravatar_for(reader, {:size => 18}, {:class => 'gravatar'}), reader_url(reader), :title => reader.preferred_name
    %td.name
      %h3
        = link_to reader.preferred_name, reader_url(reader)
    %td.email
      %p
        = mail_to reader.email, nil, :encode => 'hex', :replace_at => " #{t('reader_extension.at')} "

    - [:phone, :mobile].each do |field|
      - value = reader.send(field)
      - unless value.blank?
        %td{:class => field.to_s}
          %p
            = value
      - else
        %td.missing
          %p
            = t("reader_extension.no_#{field}")

    %td.vcard
      %p
        = link_to "&nbsp;", reader_url(reader, :format => :vcard), :class => 'vcard'
