= render :partial => 'flasher'

- if current_reader && current_reader.activated?
  %p Your account is active. Thanks for persevering with the sign-up process.

  - content_for :title do
    Welcome!

- else
  %div.activation_form
    %p
      Please check your email.
      - if current_reader
        We have sent a message to 
        %strong= current_reader.email
      - else
        You should have received a message 
      containing a link that will automatically activate your account and log you in. If you can't find the message, we can 
      = link_to "send it again.", resend_activation_reader_url(current_reader)
      
    - if @error
      %p.haserror
        @error
    %p
      If you think you might have put the wrong email address in, the easiest thing to do is 
      = link_to 'register again', new_reader_url
      with the right one. The failed registration attempt will be purged after a couple of days.

  - content_for :title do
    Thank you

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  Activate your account

