- content_for :introduction do
  %p
    = link_to t('reader_extension.dashboard.profile'), reader_profile_url
    \|
    = link_to t('reader_extension.dashboard.account'), reader_account_url
    - if Radiant.config['reader.share_details?']
      \|
      = link_to t('reader_extension.dashboard.edit_profile'), reader_edit_profile_url

- content_for :breadcrumbs do
  = link_to t('reader_extension.home'), '/'
  = t('reader_extension.separator')
  = t('reader_extension.dashboard.title')

- content_for :title do
  = t('reader_extension.dashboard.title')

= render :partial => 'shared/standard_reader_parts'

- content_for :sidebar do
  - render_region :sidebar    

- content_for :main do
  - render_region :main



= yield :main