= render :partial => 'flasher'

%div.preferences_form
  %p
    = t("hello")
    = link_to(@reader.name, reader_url(@reader)) + '.'
    = t('preferences_intro')
    = t('enter_own_password')

  - unless @reader.errors.empty?
    %p.errornote
      %strong 
        = t('sorry').titlecase
        = t('form_problem') + '.'
      
  - form_for :reader, :url => reader_url(@reader), :html => { :method => "put", :class => 'friendly'} do |f| 
    
    - with_error_report(@reader.errors.on(:current_password)) do
      = f.label :current_password, "Current password", :class => 'required'
      %span.formnote
        = link_to t('forgotten_password'), new_password_reset_url
      = f.password_field :current_password, :class => 'standard', :autocomplete => 'off'
      
    %p
      = t('bold_required')
      
    = render :partial => 'form', :locals => {:f => f}
    %p
      = submit_tag "Update your account"
      or 
      = link_to 'cancel', request.referer

  %p
    = link_to gravatar_for(@reader, {:size => 60}, {:class => 'gravatar'}), 'http://gravatar.com/site/login'
    = link_to t('change_gravatar'), "http://gravatar.com/site/login/"
    
- content_for :breadcrumbs do 
  = link_to t('home').titlecase, '/'
  &gt;
  = link_to t('you').titlecase, '/readers/me'
  &gt;
  = t('account_settings')

- content_for :title do 
  = t('account_settings')
