= render :partial => 'readers/standard_parts'

- content_for :introduction do
  %p
    = t("reader_extension.hello").titlecase
    = link_to(@reader.name, reader_url(@reader)) + '.'
    = t('reader_extension.preferences_intro')

- content_for :form do
  %pre
    = @reader.errors.full_messages
  = render :partial => 'form', :locals => {:reader => @reader}
  %p
    = standard_gravatar_for(@reader, 'http://gravatar.com/site/login')
    = link_to t('reader_extension.change_gravatar'), "http://gravatar.com/site/login/"
    
- content_for :breadcrumbs do 
  = link_to t('reader_extension.home').titlecase, '/'
  &gt;
  = link_to t('reader_extension.you').titlecase, '/readers/me'
  &gt;
  = t('reader_extension.account_settings')

- content_for :title do 
  = t('reader_extension.account_settings')
    


= yield :form