= render :partial => 'readers/standard_parts'

- content_for :introduction do
  %p
    = t("hello").titlecase
    = link_to(@reader.name, reader_url(@reader)) + '.'
    = t('preferences_intro')

- content_for :form do
  = render :partial => 'form', :locals => {:reader => @reader}
  %p
    = standard_gravatar_for(@reader, 'http://gravatar.com/site/login')
    = link_to t('change_gravatar'), "http://gravatar.com/site/login/"
    
- content_for :breadcrumbs do 
  = link_to t('home').titlecase, '/'
  &gt;
  = link_to t('you').titlecase, '/readers/me'
  &gt;
  = t('account_settings')

- content_for :title do 
  = t('account_settings')
    


= yield :form