= render :partial => 'flasher'

%div
  #readers
    - @readers.each do |reader|
      = link_to gravatar_for(reader, {:size => 100}, {:class => 'big gravatar'}), reader_url(reader), {:title => reader.name}

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/'
  &gt;
  = t('people').titlecase

- content_for :title do
  = t('people').titlecase
