= render :partial => 'readers/flasher'

%div.login_form
  %h1 
    = t('log_in').titlecase

  = render :partial => 'reader_sessions/login_form', :locals => {:backto => @backto}

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/' 
  &gt; 
  t('log_in').titlecase

- content_for :title do
  = t('log_in').titlecase
  