- content_for :introduction do
  %p
    = t('reader_extension.please_register')

- content_for :form do
  = render :partial => 'form'

- content_for :notes do
  %h3
    = t('reader_extension.notes').titlecase
  %ul.friendly
    %li
      = t('reader_extension.confirming_email')
    %li
      = t('reader_extension.getting_gravatar')
      = link_to "gravatar.com" + '.', "http://www.gravatar.com"
    - if Radiant::Config['reader.terms_url']
      %li
        = t('reader_extension.please_read_our')
        = link_to t("reader_extension.terms_and_conditions"), Radiant::Config['reader.terms_url']

- content_for :breadcrumbs do
  = link_to t('reader_extension.home').titlecase, '/'
  &gt; 
  = t('reader_extension.register').titlecase

- content_for :title do
  = t('reader_extension.new_account')

= render :partial => 'shared/standard_reader_parts'

= yield :form
= yield :notes
