= render :partial => 'flasher'

%div.register_form
  %p
    = t('please_register')
    = t('already_registered')
    = link_to t('log_in') + '.', reader_login_url

  - unless @reader.errors.empty?
    %p.errornote
      %strong 
        = t('sorry').titlecase
        = t('form_problem') + '.'
      
  - form_for :reader, :url => readers_url, :html => {:class => 'friendly'} do |f|
    = render :partial => 'form', :locals => {:f => f}
    %p
      = submit_tag t("register")
      or 
      = link_to t('cancel'), request.referer

  %h3
    = t('notes').titlecase

  %ul.friendly
    %li
      = t('confirming_email')
    %li
      = t('getting_gravatar')
      = link_to "gravatar.com" + '.', "http://www.gravatar.com"
    - if Radiant::Config['reader.terms_url']
      %li
        = t('please_read_our')
        = link_to t("terms_and_conditions"), Radiant::Config['reader.terms_url']

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/'
  &gt; 
  = t('register').titlecase

- content_for :title do
  = t('new_account').titlecase
