= render :partial => 'readers/standard_parts'

- content_for :introduction do
  %p
    = t('please_register')
    = link_to t('log_in') + '.', reader_login_url

- content_for :form do
  = render :partial => 'form'

- content_for :notes do
  %h3
    = t('notes').titlecase
  %ul.friendly
    %li
      = t('confirming_email')
    %li
      = t('getting_gravatar')
      = link_to "gravatar.com" + '.', "http://www.gravatar.com"
    - if Radiant::Config['reader.terms_url']
      %li
        = t('please_read_our')
        = link_to t("terms_and_conditions"), Radiant::Config['reader.terms_url']

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/'
  &gt; 
  = t('register').titlecase

- content_for :title do
  = t('new_account').titlecase



= yield :form
= yield :notes