= render :partial => 'controls'

%div.password_form
  - if @reader && !@error
    %h2
      Password reset sent
    %p
      Thank you. A message has been sent to 
      %strong= params[:email]
      containing the instructions for accepting the random password we've just generated. Your password hasn't changed yet and won't until you follow the instructions in that message. At the moment your old password is still the right one.
  - else
    %h2 
      Reset your password
    %p
      Please enter your email address below. If we recognise it, we'll create a new password and send you a message with an activation link.
      %strong Your password will not change until you click on the activation link,
      so only you can complete this process.
    - if @error
      %p.haserror= @error
    - form_for :reader, :html => {:class => 'friendly'} do |f|
      %p
        %label{:for => "email"} Email address
        %br
        = text_field_tag 'email', (params[:email] || (current_reader ? current_reader.email : '')), :class => 'titular'
      %p
        = submit_tag 'send me instructions'
  %p
    Clicking on the link in the activation message will also log you in, and once logged in you can change your password back to something more memorable than the random string we're about to generate.

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt; Reset your password

- content_for :title do
  Reset your password
