= render :partial => 'flasher'

%div.apologetic
  %p.haserror
    = t('page_permission_denied')

    - if current_reader
      = t('if_mistake_see_admin')

      - content_for :title do
        = t('sorry_access_denied')
      
    - else
      = t('please_log_in') + '.'

      - content_for :title do
        = t('please_log_in')

  - unless current_reader
    = render :partial => 'reader_sessions/login_form'

- content_for :breadcrumbs do
  = link_to t('home').titlecase, '/'
  &gt;
  = t('access_denied')


