= render :partial => 'flasher'

%div.apologetic
  %p.haserror
    You don't have permission to see the page you just requested. 
    - if current_reader
      Please talk to the site administrator about your account.
    - else
      Please log in.

  - unless current_reader
    = render :partial => 'reader_sessions/login_form'

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'Readers', '/readers'
  &gt;
  Permission Denied

- content_for :pagetitle do
  = @title

