= render :partial => 'readers/standard_parts'

- content_for :description do
  - if @reader.description.blank?
    %p 
      = t('no_description')
  - else
    = clean_textilize @reader.description

  - @show_partials.each do |partial|
    = render :partial => partial, :locals => {:reader => @reader}

- content_for :breadhead do
  = link_to t('readers').titlecase + t('separator'), readers_url
  = yield :parent

- content_for :title do
  = @reader.name

- content_for :breadcrumbs do
  = yield :breadhead
  = t('separator')
  = yield :title



= yield :description