= render :partial => 'flasher'
= render :partial => 'controls'

%div.reader_show
  = gravatar_for(@reader, {:size => 128}, {:class => 'big_gravatar'})
  %h1.reader
    = @reader.name
  - if @reader.description.blank?
    %p No description available.
  - else
    = clean_textilize @reader.description
  %div.stretcher
    %p
      = "posts is #{@posts}"
- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'Readers', '/readers'
  &gt;
  = @reader.name

- content_for :title do
  = @reader.name
