= render :partial => 'readers/standard_parts'

- content_for :description do
  - if @reader.description.blank?
    %p 
      = t('reader_extension.no_description')
  - else
    = clean @reader.description

  - @show_partials.each do |partial|
    = render :partial => partial, :locals => {:reader => @reader}

- content_for :breadhead do
  = link_to t('reader_extension.readers').titlecase, readers_url
  = t('reader_extension.separator')

- content_for :title do
  = gravatar_for(@reader,  {:size => 128}, {:class => 'gravatar big right', :width => 128, :height => 128})
  = @reader.name

- content_for :breadcrumbs do
  = yield :breadhead
  = t('reader_extension.separator')
  = yield :title



= yield :description