= render :partial => 'flasher'

%div.reader_show
  - if @reader == current_reader
    %p.system_message
      %strong
        Hello 
        = @reader.name + '.'
      This is the page that other (logged-in) site visitors will see when they click on your name. You can change the text that appears here by 
      = link_to "editing your preferences", edit_reader_url(@reader)
      and you can change the picture by 
      = link_to "giving yourself a gravatar.", "http://gravatar.com/signup"

  = gravatar_for(@reader, {:size => 128}, {:class => 'big_gravatar'})

  - if @reader.description.blank?
    %p No description available.
  - else
    = clean_textilize @reader.description

  = render :partial => 'contributions'
      
- content_for :breadhead do
  = link_to 'People', '/readers'

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'People', '/readers'
  &gt;
  = @reader.name

- content_for :pagetitle do
  = @reader.name

