= render_region :form_top

.form-area
  - render_region :form do |formpart|

    - formpart.edit_subject do
      %p.title
        = form.label :subject, "Message Subject"
        = form.text_field :subject, :class => 'textbox', :maxlength => 255

    - formpart.edit_body do
      %p.body
        = form.label :body, "Message Body"
        = form.text_area :body, :class => 'textarea', :style => 'width: 100%'

    - formpart.edit_filter_and_status do
      .row
        %p.filter
          = form.label :filter_id, "Filter?"
          = form.select :filter_id, [['none', '']] + TextFilter.descendants.map { |tf| tf.filter_name }.sort, :id => 'message_filter'
        %p
          = form.label :status_id, "Status"
          = form.select :status_id, Status.find_all.map { |s| [s.name, s.id] }, {}

- render_region :form_bottom do |form_bottom|
  - form_bottom.edit_timestamp do
    = updated_stamp @message  
  - form_bottom.edit_buttons do
    %p.buttons
      = save_model_button(@message)
      = save_model_and_continue_editing_button(@message)
      or
      = link_to "cancel", admin_messages_url
