= render_region :form_top

.form-area
  - render_region :form do |formpart|
    - formpart.edit_subject do
      %p.title
        = form.label :subject
        = form.text_field :subject, :class => 'textbox', :maxlength => 255

    - formpart.edit_body do
      %div.body
        %p
          %span.filter
            = form.label :filter_id
            = form.select :filter_id, TextFilter.descendants.map { |tf| tf.filter_name }.sort, :include_blank => true
          = form.label :body
          = form.text_area :body, :class => 'textarea', :style => 'width: 100%'

    - formpart.edit_function do
      #message_function.set
        - if admin?
          %p
            = form.label :function_id
            = form.select :function_id, MessageFunction.find_all.map { |mf| [t("message_functions.#{mf.name}"), mf.name] }, :include_blank => true
          %p
            = form.label :group_ids
            = render :partial => 'admin/groups/chooser', :locals => {:f => form}

        - elsif @message.new_record?
          - if @message.function
            = f.hidden_field :function_id
          - if @message.group_ids
            = f.hidden_field :group_ids

- render_region :form_bottom do |form_bottom|
  - form_bottom.edit_timestamp do
    = updated_stamp @message
  - form_bottom.edit_buttons do
    %p.buttons
      = save_model_button(@message)
      = save_model_and_continue_editing_button(@message)
      = t('or')
      = link_to t("cancel"), @message.new_record? ? admin_messages_url : admin_message_url(@message)
