= render_region :form_top

.form-area
  - render_region :form do |formpart|
    - formpart.edit_subject do
      %p.title
        = form.label :subject, "Message Subject"
        = form.text_field :subject, :class => 'textbox', :maxlength => 255
        - if @message.new_record?
          = form.hidden_field :function_id

    - formpart.edit_body do
      %div.body
        %p
          %span.filter
            = form.label :filter_id, "Filter:"
            = form.select :filter_id, TextFilter.descendants.map { |tf| tf.filter_name }.sort, :id => 'message_filter', :include_blank => true
          = form.label :body, "Message Body"
          = form.text_area :body, :class => 'textarea', :style => 'width: 100%'

      = render_region :body_bottom, :locals => {:form => form}

- render_region :form_bottom do |form_bottom|
  - form_bottom.edit_timestamp do
    = updated_stamp @message  
  - form_bottom.edit_buttons do
    %p.buttons
      = save_model_button(@message)
      = save_model_and_continue_editing_button(@message)
      or
      = link_to "cancel", admin_reader_configuration_url
