- include_stylesheet('admin/reader')
= render_region :top 

#messages_table.outset      
  %table#messages.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.subject_header do
            %th.message
              = t('reader_extension.subject')
          - thead.function_header do
            %th.message_function 
              = t('reader_extension.function')
          - thead.groups_header do
            %th.message_groups 
              = t('reader_extension.groups')
          - thead.sent_header do
            %th.message_sent
              = t('reader_extension.delivery_status')
          - thead.modify_header do
            %th.modify 
              = t('modify')
            
    %tbody
      - @messages.each do |message|
        %tr
          - render_region :tbody do |tbody|
            - tbody.subject_cell do
              %td.name
                = link_to message.subject, admin_message_url(message), :class => message.has_function? ? "functional" : "normal"
            - tbody.function_cell do
              %td.message_function
                - if message.administrative?
                  = t("message_functions.#{message.function}")
            - tbody.groups_cell do
              %td.message_groups
                - if message.groups.any?
                  = message.groups.map(&:name).to_sentence

            - tbody.sent_cell do
              %td.message_sent
                %p
                  - if message.sent_at
                    = t('reader_extension.last_sent')
                    = l(message.sent_at, :format => :short)
                  - else
                    = t('reader_extension.never_sent')
            - tbody.modify_cell do
              %td.actions
                = link_to( image('delta') + ' ' + t('reader_extension.edit_message'), edit_admin_message_url(message), :class => "action" )
                = link_to( image('minus') + ' ' + t('reader_extension.delete_message'), admin_message_url(message), {:method => :delete, :class => "action", :confirm => t('reader_extension.really_delete_message', :title => message.subject)})

  - render_region :bottom do |bottom|
    - bottom.buttons do
      #actions
        = pagination_for @messages
        %ul
          %li= link_to image('plus') + " " + "new message", new_admin_message_url