- include_stylesheet('admin/reader')

= render_region :top 
- render_region :main do |main|

  - main.edit_header do
    %h1
      = t('reader_extension.create_message')

  - main.edit_form do
    - form_for :message, @message, :url => admin_messages_path, :html => {:id => 'message_form', :method => 'post'} do |f|
      = render :partial => 'form', :object => f

  - main.edit_popups do
    = render :partial => 'admin/groups/popup', :locals => {:groupee => @message}

  - main.edit_footer do
    = render :partial => 'help'
