- include_stylesheet('admin/messages')
- include_javascript('admin/messages')

= render_region :top 

.delivery
  %h1
    Send message

  - if @message.function
    - render_region :function do |function|
      - function.function_description do
        %p.warning
          This is the 
          %strong
            = @message.function 
          message and would normally be sent out automatically.

  .delivery_form
    - form_for :message, @message, :url => deliver_admin_message_url(@message) do |f|
      - render_region :delivery do |delivery|
        - delivery.deliver_all do
          %p
            = radio_button_tag 'delivery', 'all', true, :id => 'delivery_to_all', :class => 'delivery_chooser', :disabled => @message.possible_readers.empty?
            %label{:for => "delivery_to_all", :class => @message.possible_readers.any? ? '' : 'disabled'}
              send to all

        - delivery.deliver_inactive do
          %p
            = radio_button_tag 'delivery', 'inactive', false, :id => 'delivery_to_inactive', :class => 'delivery_chooser', :disabled => @message.inactive_readers.empty?
            %label{:for => "delivery_to_inactive", :class => @message.inactive_readers.any? ? '' : 'disabled'}
              send to the 
              = @message.inactive_readers.count
              who
              = @message.inactive_readers.count == 1 ? 'is' : 'are'
              not yet activated

        - delivery.deliver_unsent do
          %p
            = radio_button_tag 'delivery', 'unsent', false, :id => 'delivery_to_unsent', :class => 'delivery_chooser', :disabled => @message.undelivered_readers.empty?
            %label{:for => "delivery_to_unsent", :class => @message.undelivered_readers.any? ? '' : 'disabled'}
              send to the
              = @message.undelivered_readers.length
              who 
              = @message.undelivered_readers.length == 1 ? 'has' : 'have'
              not yet received this message

        - delivery.deliver_selection do
          %p
            = radio_button_tag 'delivery', 'selection', false, :id => 'delivery_to_selection', :class => 'delivery_chooser', :disabled => @message.possible_readers.empty?
            %label{:for => "delivery_to_selection", :class => @message.possible_readers.any? ? '' : 'disabled'}
              send to selected people...

        - delivery.choose_recipients do
          %ol#select_readers
            - @message.possible_readers.each do |reader|
              %li{:class => @message.delivered_to?(reader) ? "sent" : "unsent"}
                = check_box_tag "reader_ids[]", reader.id, false, :id => "reader_#{reader.id}"
                %label{:for => "reader_#{reader.id}"}
                  = reader.name

        - delivery.buttons do
          %p.buttons
            = submit_tag "send message", :disable_with => "Please wait..."
      
.preview
  %h1
    Preview message

  - render_region :preview do |preview|
    - preview.preview_headers do
      .message_header
        %ul
          - @message.preview.each_header do |name, value|
            %li{:class => name}
              = "#{name}:"
              %strong
                = value

    - preview.preview_body do
      %iframe.message_body{:src => preview_admin_message_url(@message)}
      .preview_controls
        %p
          = link_to "edit message", edit_admin_message_url(@message)

