- purpose ||= false
- no_title ||= false


%div.activation_required
  - unless no_title
    %h2
      - if purpose
        = purpose + ','
        please
      - else 
        Please
      activate your account

  %p
    Hello 
    = current_reader.name + '.'
    - if current_reader
      We've sent an email to 
      %strong
        = current_reader.email
      containing a link that will automatically activate your account and log you in. If you can't find the message, we can 
      = link_to("send it again", new_reader_activation_url) + '.'
    - else
      You should have received an email message 
      containing a link that will automatically activate your account and log you in. If you can't find the message, we can 
      = link_to("send it again", new_password_reset_url) + ':'
      just put your email address in the password reminder form, and if your account has not been activated you'll receive another activation message.

    - if Radiant::Config['reader.allow_registration?']
      %p
        If you've put the wrong email address in, the easiest thing to do is just to
        = link_to 'register again', new_reader_url
        with the right one. The failed registration will be purged after a week or so.
