-content_for :instructions do
  - if current_reader && current_reader.activated?
    %p
      = t("reader_extension.activation_complete")

    - if session[:return_to]
      %p 
        = link_to t("reader_extension.return_to_page"), session[:return_to]

  - else
    %div.activation
      - if @error
        %p.errornotice
          = @error
      %p
        = t('reader_extension.thanks_and_activation_instructions')

      %p
        = link_to(t("reader_extension.resend_activation"), new_reader_activation_url) + '.'

- content_for :breadcrumbs do
  = link_to t('reader_extension.Home'), '/'
  &gt;
  = t('reader_extension.activate_account')

- content_for :title do
  - if current_reader && current_reader.activated?
    = t('reader_extension.hello').titlecase
    = current_reader.name
  - else
    = t('reader_extension.activation_sent')
  
= render :partial => 'shared/standard_reader_parts'

= yield :instructions
