= render :partial => 'readers/standard_parts'

-content_for :instructions do
  - if current_reader && current_reader.activated?
    %p
      = t("activation_complete")

    - if session[:return_to]
      %p 
        = link_to t("return_to_page"), session[:return_to]

  - else
    %div.activation
      - if @error
        %p.errornotice
          = @error
      %p
        = t('thanks_and_activation_instructions')

      %p
        = link_to(t("resend_activation"), new_reader_activation_url) + '.'

- content_for :breadcrumbs do
  = link_to t('Home'), '/'
  &gt;
  = t('activate_account')

- content_for :title do
  - if current_reader && current_reader.activated?
    = t('hello').titlecase
    = current_reader.name
  - else
    = t('activation_sent')



= yield :instructions