= render :partial => 'readers/flasher'

- if current_reader && current_reader.activated?
  %p
    = t("activation_complete")

  - if session[:return_to]
    %p 
      = link_to (t("return_to_page"), session[:return_to]) + '?'
    
  - content_for :title do
    = t('hello').titlecase
    = current_reader.name

- else
  %div.activation
    - if @error
      %p.errornotice
        = @error
    %p
      = t('thanks_and_activation_instructions')
      = link_to("resend_activation", new_reader_activation_url) + '.'
      - unless current_reader
        = t('enter_email_for_reminder')

  - content_for :title do
    = t('activation_sent')

- content_for :breadcrumbs do
  = link_to t('Home'), '/'
  &gt;
  = t('activate_account')
