- content_for :person do
  - if @reader && !@reader.new_record?
    = standard_gravatar_for(@reader)
  
- content_for :section_navigation do
  = link_to t('reader_extension.navigation.readers'), readers_url, :class => 'section'
  - if current_reader
    = link_to t('reader_extension.navigation.dashboard'), reader_dashboard_url
    = link_to t('reader_extension.navigation.directory'), readers_url
    = link_to t('reader_extension.navigation.profile'), reader_profile_url
    = link_to t('reader_extension.navigation.account'), reader_account_url
    = link_to t('reader_extension.navigation.log_out'), reader_logout_url
  - if Radiant::Config['reader.help_url']
    = link_to t('reader_extension.navigation.help'), Radiant::Config['reader.help_url']

- content_for :controls do
  = render :partial => 'accounts/controls'

- content_for :signals do
  = render :partial => 'accounts/flasher'
