- content_for :reader_css do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/reader.css', :media => 'all'}

- content_for :reader_js do
  %script{:src => '/javascripts/reader.js', :type => 'text/javascript'}

- content_for :person do
  - if @reader && !@reader.new_record?
    = standard_gravatar_for(@reader)
  
- content_for :section_navigation do
  = link_to t('reader_extension.navigation.readers'), readers_url, :class => 'section'
  - if Radiant::Config['reader.help_url']
    = link_to t('reader_extension.navigation.reader_help'), Radiant::Config['reader.help_url']

- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :signals do
  = render :partial => 'readers/flasher'

