- include_stylesheet('admin/reader_group')

%h1 
  = t('reader_extension.invite_into_group', :name => @group.name)

- if message = @group.messages.for_function('invitation').first

  - form_for :group, @group, :url => admin_group_group_invitations_url(@group), :html => {:id => 'preview_form', :method => 'post'} do
    .form-area
      %p
        %label{:for => "readerlist"}
          List of people
          %span.formnote
            - if Radiant::Config['reader.use_honorifics?']
              title or rank, 
            name, email, [login], [phone]
        = text_area_tag "readerlist", params[:readerlist], :class => "textarea", :style => "width: 100%; height: 240px;"

      %p.buttons
        = submit_tag 'preview import', :class => 'button'
        or
        = link_to "Cancel", admin_group_url(@group)

  %p 
    = t('reader_extension.invitation_instructions')

- else
  %p
    = t('reader_extension.no_invitation_message')
    = link_to image('plus') + ' ' + t("reader_extension.create_invitation_message"), new_admin_group_message_url(@group, :function => 'invitation'), :class => "action"
  