%p
  Hello 
  = @reader.name + ','

%p
  Someone has requested that a new password be generated for your account at the
  = @site_title
  site.
  If that person wasn't you, please don't be concerned: you are seeing this message, not they, and your password hasn't changed. 
  You can safely delete this message and forget about it.

%p
  If it was you, and you would like to reset your password, please click on this link:
  = @url + '.'

%p
  That will bring up a form in which you can enter (and confirm) a new password. If something goes wrong, you might see a query box instead.
  In that case, just enter this magic string of nonsense into the box:

%pre
  = @token

%p
  If you can remember your current password and all you want to do is change it, you can skip this step and go straight to your
  = link_to "preferences page", @prefs_url

%p
best wishes,

%p
  = @sender


- content_for :header do
  This is the header

- content_for :footer do
  This is the footer

- content_for :pagetitle do
  = @subject
