- form_for [:admin, @reader] do |f|
  
  = render :partial => 'avatar' unless @reader.new_record?
  
  = render_region :form_top, :locals => {:f => f}
  
  - render_region :form, :locals => {:f => f} do |form|
    - form.edit_name do
      %p
        = f.label :name, t('reader_extension.name') 
        = f.text_field :name, :class => "textbox activate", :size => 32, :maxlength => 100 
    
    - form.edit_email do
      %p
        = f.label :email, t('reader_extension.email_address') , :class => "optional"
        = f.text_field "email", :class => 'textbox', :size => 32, :maxlength => 255

    - form.edit_username do
      %p
        = f.label :login, t('reader_extension.username') , :class => "optional"
        = f.text_field "login", :class => 'textbox', :size => 32, :maxlength => 255
    
    - form.edit_readername do
      %p
        = f.label :login, t('reader_extension.readername') 
        = f.text_field "login", :class => "textbox", :size => 32, :maxlength => 40 
    
    - form.edit_password do
      = render "password_fields", :f => f
    
    - form.edit_description do
      %p
        = f.label :description, "Self-description", :class => "optional"
        ~ f.text_area "description", :size => "53x8", :class => "textarea"

    - form.edit_notes do
      %p
        = f.label :notes, t('reader_extension.notes'), :class => "optional"
        ~ f.text_area "notes", :size => "53x4", :class => "textarea"
  
  = render_region :form_additions, :locals => {:f => f}

  - render_region :form_bottom, :locals => {:f => f} do |form_bottom|
    - form_bottom.edit_buttons do
      %p.buttons
        = save_model_button(@reader)
        = save_model_and_continue_editing_button(@reader)
        = t('reader_extension.or')   
        = link_to t('reader_extension.cancel'), admin_readers_path
    - form_bottom.edit_timestamp do
      = updated_stamp @reader
