%tr.node.level-1
  - render_region :tbody do |tbody|
    - tbody.title_cell do
      %td{:class => reader.activated? ? 'name activated' : 'name inactive'}
        = link_to image_tag(gravatar_url(reader.email, :size=>"32px"), :class=>"avatar avatar_32x32", :width=>32, :height=>32, :alt=>""), edit_admin_reader_url(reader)
        = link_to reader.name, edit_admin_reader_url(reader), :class => reader.trusted? ? '' : 'untrusted'
        %span.info
          = "(#{reader.login})"
        - unless reader.notes.blank?
          %p.admin_notes
            %strong
              note:
            = reader.notes

    - tbody.description_cell do
      %td.reader_description
        = truncate_and_textilize(reader.description, 24)
      
    - tbody.modify_cell do
      %td.remove
        - if admin?
          = link_to(image('remove', :alt => 'Remove Reader'), admin_reader_url(reader), :method => :delete, :confirm => "really delete reader #{reader.name}?") 
