%p#display_password{:style=> (@reader.new_record? or !@reader.valid?) ? "display: none" : nil}
  %label= t('reader_extension.password')
  %span.value
    &bull;&bull;&bull;&bull;&bull;
    %a.action{:href=>"#", :onclick=>" $('display_password').hide(); $('change_password').show()"}= t('reader_extension.change')
.set#change_password{:style=> (!@reader.new_record? && @reader.valid?) ? "display: none" : nil}
  %p
    = f.label :password, t('reader_extension.new_password')
    = f.password_field "password", :class => "textbox big", :value => "", :size => 15, :maxlength => 40
  %p
    = f.label :password_confirmation, t('reader_extension.password_confirmation')
    = f.password_field "password_confirmation", :class => "textbox big", :value => "", :size => 15, :maxlength => 40
    - unless @reader.new_record?
      %span
        = t('reader_extension.or')
        %a{:href=>"#", :onclick=>" $('display_password').show(); $('change_password').hide()"}= t('reader_extension.cancel')

        
