- include_stylesheet('admin/reader')
= render_region :top 

#readers_table.outset      
  %table#readers.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      = render :partial => 'list_head'
    %tbody
      - @readers.each do |reader|
        = render :partial => 'listed', :locals => {:reader => reader}
      
  - render_region :bottom do |bottom|
    - bottom.buttons do
      #actions
        = pagination_for @readers
        %ul
          %li= link_to image('plus') + " " + "new reader", new_admin_reader_url
          %li= link_to image('plus') + " " + "new message", new_admin_message_url
