= render_region :top 

%h1 Readers

%table#readers.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      - render_region :thead do |thead|
        - thead.title_header do
          %th.reader Name / Login
        - thead.description_header do
          %th.roles Description
        - thead.modify_header do
          %th.modify Modify
  %tbody
    - @readers.each do |reader|
      %tr.node.level-1
        - render_region :tbody do |tbody|
          - tbody.title_cell do
            %td.reader
              = link_to gravatar_for(reader), edit_admin_reader_url(reader)
              = link_to reader.name, edit_admin_reader_url(reader)
              %small.login= h reader.login
          - tbody.description_cell do
            %td.roles= reader.description
          - tbody.modify_cell do
            %td.remove
              = link_to(image('remove', :alt => 'Remove Reader'), remove_admin_reader_url(reader)) 

- render_region :bottom do |bottom|
  - bottom.new_button do
    %p
      = link_to image('new-reader', :alt => 'New Reader'), new_admin_reader_url, :title => "New Reader"