%tr{:class =>"level_#{level}"}
  - render_region :tbody do |tbody|
    - tbody.name_cell do
      %td.name{:style => "padding-left: #{9 + (24 * level)}px;"}
        = link_to image('group', :alt => '', :class => 'gravatar') + ' ' + group.name, admin_group_url(group)
        %br
        %span.notes
          = group.description
    - tbody.home_cell do
      %td.home
        - if group.homepage
          = link_to group.homepage.title, edit_admin_page_url(group.homepage)
        - else
          = t('reader_extension.none')
    - tbody.members_cell do
      %td.members
        = group.readers.count
    - tbody.pages_cell do
      %td.pages
        = group.pages.count
    - tbody.modify_cell do
      %td.actions
        = link_to_unless_current image('plus') + ' ' + t('reader_extension.add_members'), new_admin_group_group_invitation_url(group), :class => 'action'
        = link_to_unless_current image('plus') + ' ' + t('reader_extension.add_subgroup'), new_admin_group_url(:parent_id => group.id), :class => 'action'
        = link_to_unless_current image('delta') + ' ' + t('reader_extension.edit_group'), edit_admin_group_url(group), :class => 'action'
        = link_to_unless_current image('minus') + ' ' + t('reader_extension.delete_group'), admin_group_url(group), :method => 'delete', :confirm => t("reader_extension.really_delete_group", :name => group.name), :class => 'action'

= render :partial => 'group', :collection => group.children, :locals => {:level => level+1}
  
