- include_stylesheet('admin/reader_group')

= render_region :top

#groups_table.outset      
  %table#groups.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      = render :partial => 'list_head'
    %tbody
      = render :partial => "group", :collection => @groups, :locals => {:level => 0}

- render_region :bottom do |bottom|
  - bottom.buttons do
    #actions
      = pagination_for @readers
      %ul
        %li
          = link_to image('plus') + " " + t("reader_extension.new_group"), new_admin_group_url
