- content_for :introduction do
  %p
    =t("reader_extension.readers_introduction_#{Radiant.config['reader.directory_visibility']}")

- content_for :breadcrumbs do
  = link_to t('reader_extension.home').titlecase, '/'
  = t('reader_extension.separator')
  = t('reader_extension.people').titlecase

- content_for :title do
  = t('reader_extension.readers_title').titlecase

= render :partial => 'shared/standard_reader_parts'

- content_for :main do
  = render_region :main

= yield :main