- body_classes << "reversed"
- include_stylesheet('admin/reader')

#reader_settings.box
  %h3 Reader administration
  
  - render_region :settings do |settings|
    - settings.registration do
      = render :partial => 'setting', :locals => {:key => 'reader.allow_registration?', :label => 'Allow visitors to register'}
      = render :partial => 'setting', :locals => {:key => 'reader.require_confirmation?', :label => 'Require email confirmation'}
      = render :partial => 'setting', :locals => {:key => 'reader.layout', :label => "Admin layout", :notes => "The radiant layout used to present reader-administration pages"}

    - settings.site do
      = render :partial => 'setting', :locals => {:key => 'site.title', :label => "Site title", :notes => "This is the name by which forms and emails refer to your site"}
      = render :partial => 'setting', :locals => {:key => 'site.url', :label => "Site url", :notes => "This is the address we use to build links in emails"}

    - settings.sender do
      = render :partial => 'setting', :locals => {:key => 'reader.mail_from_name', :label => "Email sender", :notes => "This is the name that automatic emails seem to come from"}
      = render :partial => 'setting', :locals => {:key => 'reader.mail_from_address', :label => "Email address", :notes => "This is the address that automatic emails seem to come from"}

#message_settings.box
  %h3 Administrative messages
  
  - render_region :messages do |messages|
    - messages.administration do
      - MessageFunction.find_all.each do |func|
        - message = Message.for_function(func).shift
        %p.ruled
          %label= func.description
          - if message
            = link_to message.subject, edit_admin_message_url(message)
          - else
            = link_to image('plus') + " create message", new_admin_message_url(:function => func), :class => 'create'


